<!DOCTYPE html>

<html>
    <head>
        {% load static %}

        <link rel="stylesheet" href={% static 'qr.css' %}>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
<div id="oq">own-QR</div>
        <div id="qrimg">
          
        <img src="{% static 'img/' %}{{fnme}}.png" id="qr">
       

        </div>
        <div id="button">
         <a href="{% static 'img/qrs.jpg' %}"   download >Download</a>
         <a href="">Go Home</a>
        </div>
        <script src="" async defer></script>
        
    </body>
</html>